# Flutter / Dart build artifacts
build/
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# IDE and system files
.idea/
.vscode/
*.iml
*.log
*.tmp
.DS_Store

# Android Studio / Gradle
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/

